<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Land-ocean Temperature Statistics</title>

    <style type="text/css">
        th{font-size:23px;}
    </style>
</head>
<body>
  <h1 align="center"> Land-Ocean   Temperature   Statistics </h1>
  <hr/>
  <table align="center" width="40%">
       <tr>
            <th width="30%" >year</th>
            <th width="30%">no_smoothing</th>
            <th width="30%">lowess</th>
       </tr>
       {% for data in datas %}
       <tr align="center">
             <td><b> <a href="{% url 'show_co2' year=data.year%}">{{ data.year }}</a></b></td>
             <td>{{ data.no_smoothing }}</td>
             <td>{{ data.lowess }}</td>
       </tr>
       {% endfor %}
  </table>

</body>
</html>